@model IEnumerable<Cost>
@{
    ViewBag.Title = "Расходы";
}

<a asp-action="Add">Добавить</a>
<table class="table">
    <tr><td>Id</td><td>Пользователь</td><td>Продукт</td><td>Дата</td><td>Сумма</td><td>Магазин</td><td>Количество</td><td>Вес</td><td>Действия</td></tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.User.UserName</td>
            <td>@item.Product.Name</td>
            <td>@item.Date.ToString("D")</td>
            <td>@Math.Round(item.Sum, 2, MidpointRounding.AwayFromZero)</td>
            <td>@item.Store</td>
            <td>@item.Count</td>
            <td>@item.WeightInKg</td>
            <td>
                <form asp-action="Delete" asp-route-id="@item.Id" method="post">
                    <!--<a class="btn btn-sm btn-primary" asp-action="Edit" asp-route-id="@item.Id">Изменить</a>-->
                    <button type="submit" class="btn btn-sm btn-danger">Удалить</button>
                </form>
            </td>
        </tr>
    }
</table>