@model CostsForPeriod

<div>
    <table class="mb-3" style="width: 100%;">
        <thead>
            <tr>
                <td colspan="2" class="text-start text-secondary fw-weight-bold fst-italic text-decoration-underline">
                    <h6>Наибольшие затраты в категориях:</h6>
                </td>
            </tr>
        </thead>
        @foreach (var group in Model.CostsByCategory)
        {
            <tr>
                <td class="text-end pe-2" style="width: 72%;">@group.CategoryName:</td>
                <td class="text-end">
                    <span style="font-style: italic;">@group.Sum.ToString("c")</span>
                </td>
            </tr>
        }
    </table>
    <div>
        <div class="text-start text-secondary fw-weight-bold fst-italic text-decoration-underline">
            <h6>За предыдущий период:</h6>
        </div>
        <div class="text-end mb-1">
            <span style="font-style: italic;">@Model.PreviousPeriodSum.ToString("c")</span> &nbsp;всего было потрачено
        </div>
        @if (Model.IsCostsLower)
        {
            <div class="text-center">
                Расходы <span class="text-uppercase text-success" style="font-weight: bold;">ниже</span> на
                <span class="text-success" style="font-weight: bold;">@Model.DeltaSum.ToString("c")</span>
            </div>
        }
        else
        {
            <div class="text-center">
                Расходы <span class="text-uppercase text-danger" style="font-weight: bold;">выше</span> на
                <span class="text-danger" style="font-weight: bold;">@Model.DeltaSum.ToString("c")</span>
            </div>
        }
    </div>
</div>
