@model IEnumerable<Cost>

<table class="table table-hover table-bordered">
    <thead class="table-dark">
        <tr>
            @if (ViewBag.IsAllUsers == true)
            {
                <td>Id</td>
                <td>Пользователь</td>
            }
            <td>Продукт</td>
            <td>Дата</td>
            <td>Сумма</td>
            <td>Магазин</td>
            <td>Количество</td>
            <td>Вес</td>
            <td>Действия</td>
        </tr>
    </thead>
    @foreach (var item in Model)
    {
        <tr>
            @if (ViewBag.IsAllUsers == true)
            {
                <td>@item.Id</td>
                <td>@item.User.UserName</td>
            }
            <td>@item.Product.Name</td>
            <td>@item.Date.ToString("D")</td>
            <td>@Math.Round(item.Sum, 2, MidpointRounding.AwayFromZero)</td>
            <td>@item.Store</td>
            <td>@item.Count</td>
            <td>@item.WeightInKg</td>
            <td>
                <form asp-action="Delete" asp-route-id="@item.Id" class="deleteForm">
                    <partial name="_TableDelButton" />
                </form>
            </td>
        </tr>
    }
</table>