@model Pagination<Product>
@{
    String title = "Продукты";
    ViewBag.Title = title;
}

<div class="d-flex flex-row justify-content-between align-items-center mt-3 mb-2">
    <div>
        <h2>@title</h2>
    </div>
    <div>
        <div class="d-flex flex-row">
            <form asp-action="Index" method="get" class="row g-2">
                <div class="col-auto">
                    <input asp-for="Search" class="form-control form-control-lg border-dark" placeholder="Поиск" required />
                </div>
                <input name="page" value="1" hidden />
                <div class="col-auto" style="margin-top: 12px;">
                    <partial name="_SearchButton" />
                </div>
            </form>
            <div class="ms-2 me-5">
                <partial name="_SearchClearButton" />
            </div>
            <partial name="_AddButton" />
        </div>
    </div>
</div>
<table class="table table-hover table-bordered">
    <thead class="table-dark">
        <tr>
            <td>Id</td>
            <td>Название продукта</td>
            <td>Категория продукта</td>
            <td>Действия</td>
        </tr>
    </thead>
    @foreach (var item in Model.Records)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.Name</td>
            <td>@item.Category?.Name</td>
            <td>
                <form asp-action="Delete" asp-route-id="@item.Id" class="deleteForm">
                    <a class="btn btn-sm btn-primary p-0" asp-action="Edit" asp-route-id="@item.Id" asp-route-category="@item.CategoryId" aria-label="Редактировать" title="Редактировать">
                        <partial name="_SvgEditButton" />
                    </a>
                    <partial name="_TableDelButton" />
                </form>
            </td>
        </tr>
    }
</table>
<pagination page="@Model.Page" per-page="@Model.PerPage" count-records="@Model.CountRecords" save-query="true" ></pagination>

<partial name="_ModalWindow" model='new ModalWindow { Title = "Предупреждение", Message = "Вы действительно хотите удалить этот продукт?"}'/>
